server:
  port: 8087
  servlet:
    context-path: /api/v1

spring:
  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        order_inserts: true
        order_updates: true
        generate_statistics: true
        default_schema: itrum_demo

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  kafka:
    bootstrap-servers: localhost:9092
    topic:
      transaction-request:
        name: transaction-request
        partitions: 3
        replicas: 1

logging:
  level:
    com.itrumuserservice: DEBUG

app:
  amount-min-value: 1

message:
  empty-wallet-id: The wallet's UUID is empty
  invalid-operation-type: Invalid type of operation
  amount-min-value: The transfer amount must be at least 1
  invalid-uuid: Invalid wallet UUID
  wallet-not-found: The wallet was not found
  transaction-response: Your request has been sent for processing

redis-params:
  wallet-key-prefix: wallet-uuid-
  wallet-ttl-minutes: 15