server:
  port: 8087
  servlet:
    context-path: /api/v1

spring:
  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        order_inserts: true
        order_updates: true
        generate_statistics: true
        default_schema: itrum_demo

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

logging:
  level:
    com.itrumuserservice: DEBUG

message:
  empty-wallet-id: UUID of wallet is empty
  empty-operation-type: Operation type is empty
  amount-min-value: The transfer amount must be at least 1
  invalid-uuid: Invalid UUID of wallet
  wallet-not-found: Wallet not found

redis-params:
  wallet-key-prefix: wallet-uuid-
  wallet-ttl-minutes: 15